.searchNav {
  display: flex;
  margin-bottom: 15px;
}
.searchRow {
  height: 35px;
  width: 400px;
  margin: 0px 10px 0px 0px;
}
.searchIcon {
  position: relative;
}
.searchIcon::before {
  position: absolute;
  content: "";
  left: 10px;
  top: 0;
  bottom: 0;
  width: 18px;
  background: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.5 15.5L11.5 11.5M7.5 13.5C4.18629 13.5 1.5 10.8137 1.5 7.5C1.5 4.18629 4.18629 1.5 7.5 1.5C10.8137 1.5 13.5 4.18629 13.5 7.5C13.5 10.8137 10.8137 13.5 7.5 13.5Z' stroke='%239C9C9C' stroke-width='2.5'/%3E%3C/svg%3E")
    center / contain no-repeat;
}
.searchField {
  height: 100%;
  width: 100%;
  border: 1px solid #b9b9b9;
  padding-left: 35px;
  box-sizing: border-box;
  font-family: Roboto;
  font-style: normal;
  font-size: 15px;
}
.searchField:focus,
.searchField:active {
  border: 1px solid #0f82ec;
}    
.createFolderRow form{
  display: flex;
  align-items: center;
}  
.createFolderField {
  height: 35px;
  width: 250px;
  border: 1px solid #b9b9b9;
  padding-left: 10px;
  box-sizing: border-box;
  font-family: Roboto;
  font-style: normal;
  font-size: 15px;
}  
.createFolderField:focus,
.createFolderField:active {
  border: 1px solid #0f82ec;
}  
.createFolder {
  width: 35px;
  height: 35px;
  border: 1px solid #b9b9b9;
  border-left: 0px;
  background-color: initial;
  padding: 0px;
}  
.createFolder svg path {
  transition: all 0.2s ease;
}    
.createFolderActive:hover svg path,
.createFolderActive:active svg path,
.createFolderActive:focus svg path {
  stroke: #00df77;
}    
/* .createFolderActive svg{
  transform: rotate(45deg);
  transform-origin: center;
  transform-box: fill-box;
} */    