.actionNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.searchRow {
  height: 35px;
  width: 600px;
  margin: 0px 20px 0px 0px;
}
.searchIcon {
  position: relative;
}
.searchIcon::before {
  position: absolute;
  content: "";
  left: 10px;
  top: 0;
  bottom: 0;
  width: 18px;
  background: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.5 15.5L11.5 11.5M7.5 13.5C4.18629 13.5 1.5 10.8137 1.5 7.5C1.5 4.18629 4.18629 1.5 7.5 1.5C10.8137 1.5 13.5 4.18629 13.5 7.5C13.5 10.8137 10.8137 13.5 7.5 13.5Z' stroke='%239C9C9C' stroke-width='2.5'/%3E%3C/svg%3E")
    center / contain no-repeat;
}
.searchField {
  height: 100%;
  width: 100%;
  border: 1px solid #b9b9b9;
  padding-left: 35px;
  box-sizing: border-box;
  font-family: Roboto;
  font-style: normal;
  font-size: 15px;
  border-radius: 50px;
}
.searchField:focus,
.searchField:active {
  border: 1px solid #0f82ec;
}
.buttonsRow form {
  width: 380px;
  height: 35px;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  box-sizing: border-box;
}
.buttonsRow button {
  width: 180px;
  height: 100%;
  border-radius: 50px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  text-align: center;
  transition: all 0.2s ease;
  padding: 0px;
}
.uploadFile {
  background-color: #0f82ec;
  border: 1px solid #0f82ec;
  color: white;
}
.uploadFile:active,
.uploadFile:hover,
.uploadFile:focus {
  background-color: #1671c7;
  border: 1px solid #1671c7;
}
.sendFileDisable {
  background-color: white;
  border: 1px solid #bdbdbd;
  color: #bdbdbd;
}
.sendFileActive {
  background-color: white;
  border: 1px solid #0fbb68;
  color: #0fb363;
}
.sendFileActive:active,
.sendFileActive:hover,
.sendFileActive:focus {
  background-color: #0fbb68;
  color: white;
}
