/* Include fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@800&family=Montserrat:wght@500;600;800&family=Roboto:wght@400;500;700&display=swap");

/* Common Styles Start*/
body {
  font-family: Roboto;
  background-color: #eeeff1;
}
a {
  text-decoration: none;
  color: white;
}
/* Common Styles End*/

/* Navbar styling start*/
.navbar {
  width: 100%;
  height: 100px;
}
.header__navbar {
  position: fixed;
  left: 0;
  top: 0;
}
.navbar:hover {
  background-color: rgba(0, 0, 0, 0.4);
  transition: all ease 0.8s;
}
.navbar:not(:hover) {
  background-color: inherit;
  transition: all ease 0.6s;
}
.navbar__wrapper {
  max-width: 1230px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px auto;
  padding: 35px 0px;
}
.navbar-logo {
  font-family: Montserrat Alternates;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
}
.navbar-logo__link:hover,
.navbar-logo__link:active,
.navbar-logo__link:focus {
  color: #e7e7e7;
  transition: ease 0.2s;
}
.navbar-menu {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
}
.navbar__line {
  display: block;
  opacity: 0.5;
  border: 1px solid #ffffff;
}
.navbar-menu__link:hover,
.navbar-menu__link:active,
.navbar-menu__link:focus {
  color: #e7e7e7;
  transition: ease 0.2s;
}
/* Navbar styling end*/

/* Intro-page styling start*/
.intro {
  background: url(./img/intro-background.jpg) no-repeat center;
  background-size: cover;
  min-height: 100vh;
}
.container {
  max-width: 1230px;
}
.intro__wrapper {
  margin: 0px auto;
  padding-top: 280px;
}
.intro__title {
  margin-bottom: 35px;
  text-align: left;
}
.intro__title-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 60px;
  line-height: 150%;
  color: white;
}
.intro__subtitle {
  padding: 0px 25px;
  margin-bottom: 30px;
}
.intro__list {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 23px;
  line-height: 150%;
  list-style: disc;
  color: #ffffff;
}
.intro__button {
  position: relative;
  max-width: 300px;
  height: 50px;
  background-image: linear-gradient(to bottom left, #0070da, #00eeff);
  border-radius: 50px;
  z-index: 1;
}
.intro__button::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to right top, #392fc2, #00eeff);
  z-index: -1;
  transition: opacity 0.2s linear;
  opacity: 0;
  border-radius: 50px;
}
.intro__button:hover::before {
  opacity: 1;
}
.intro__button-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  text-align: center;
  color: #ffffff;
  padding: 15px 0px;
}
/* Intro-page styling end*/

/* Auth-page styling start*/
.auth {
  background: url(./img/auth-background.jpg) no-repeat top;
  min-height: 100vh;
}
.auth__wrapper {
  margin: 0px auto;
  padding-top: 150px;
}
.auth__content {
  width: 100%;
  height: calc(100vh - 150px);
  background-color: white;
  border-radius: 5px 5px 0px 0px;
}
.auth__wrapper-content {
  margin: 0px auto;
}
.content-container {
  max-width: 980px;
}
.content-header__title {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}
.content-header__title-line {
  width: 380px;
  border: 1px solid #e7e7e7;
}
.content-header__title-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: #000000;
  padding: 0px 20px;
}
.auth__tabs {
  display: flex;
  position: relative;
  height: 40px;
  margin-bottom: 20px;
}
.auth__tab {
  position: absolute;
  width: 50%;
  text-align: center;
  padding: 8px 0px;
  bottom: 0;
  transition: all 0.3s linear;
  border-radius: 8px 8px 0px 0px;
  color: #acacac;
  cursor: pointer;
  background-color: #f0f0f0;
}
.auth__tab:first-child{
  left: 0;
}
.auth__tab:last-child{
  right: 0;
}
.auth__tab:hover, .auth__tab:active, .auth__tab:focus {
  background: #ebebeb;
  color: #8a8a8a;
}
.auth__tab_active {
  background: linear-gradient(90deg, #0f82ec 0%, #00e1ff 100%);
  color: white;
  padding: 12px 0px;
}
.auth__step {
  width: 100%;
  background-color: #F4F4F4;
  border-radius: 5px;
  margin-bottom: 30px;
}
.auth__step-wrapper {
  max-width: 920px;
  margin: 0px auto;
  padding: 18px 0px; 
}
.auth__step-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #A5A5A5;
}

/* Component step active start*/
.auth__step-title_active {
  color: #000;
  margin-bottom: 25px;
}
.auth__step-subtitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  margin-bottom: 15px;
}
.auth__form-row{
  display: flex;
  margin-bottom: 15px;
}

.auth__form-input {

}
.auth__form-input:last-child {
  margin-left: 15px;
}
/* Component step active end*/
.auth__step-line {
  display: block;
  border: 1px solid #E7E7E7;
  width: calc(980px - 25px);
  margin: 0px auto 30px;
}
.auth__step-massage {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #A5A5A5;
  text-align: center;
  margin-bottom: 30px;
}
/* Auth-page styling end*/
