/* Include fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@800&family=Montserrat:wght@500;600;800&family=Roboto:wght@400;500;700&display=swap");

/* Common Styles Start*/
body {
  font-family: Roboto;
  background-color: #eeeff1;
}
a {
  text-decoration: none;
  color: white;
}
/* Common Styles End*/