.filePathList {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    height: 40px;
}
.pathLink {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    color: #6d6d6d;
}
.pathLink:hover, .pathLink:active, .pathLink:focus {
    color: #0F82EC;
}
.activePathLink {
    color: #0084ff;
    font-weight: 500;
    pointer-events: none;
}
.nextDir {
    color: #6d6d6d;
    margin: 0px 5px;
}
