.step {
  width: 100%;
  background-color: #F4F4F4;
  border-radius: 5px;
  margin-bottom: 30px;
}
.stepWrapper {
  max-width: 920px;
  margin: 0px auto;
  padding: 18px 0px; 
}
.title{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #A5A5A5;
}