.storage {
  background: url(../../img/storage-background.jpg) no-repeat top;
  min-height: 100vh;
}
.wrapper {
  margin: 0px auto;
  padding-top: 170px;
}
/* .container {
  max-width: 1230px;
} */
.body {
  width: 100%;
  height: calc(100vh - 170px);
  background-color: white;
}
.wrapperBody {
  margin: 0px auto;
  max-width: 1230px;
}
.containerBody {
  display: grid;
  column-gap: 30px;
  row-gap: 40px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(4, minmax(100px, auto));
}
.contentHeader {
  margin-top: 40px;
  grid-column: 1/11;
}
.contentBody{
  grid-column: 1/11;
  grid-row: 2/5;
}
.sidebar {
  grid-column: 11/13;
  grid-row: 2;
}