.step {
  width: 100%;
  background-color: #F4F4F4;
  border-radius: 5px;
  margin-bottom: 30px;
}
.stepActive {
  height: 200px;
}
.stepWrapper {
  max-width: 920px;
  margin: 0px auto;
  padding: 18px 0px; 
}
.title{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #A5A5A5;
}
.titleActive {
  color: #000;
  margin-bottom: 25px;
}
.subtitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  margin-bottom: 15px;
}
.form {
  display: flex;
  justify-content: space-between;
}
.formRow{
  display: flex;
}
.formRow:first-child {
  margin-bottom: 15px;
}
.formInput {
  padding: 0px 20px;
  width: 215px;
  height: 40px;
  border: 0;
  font-family: Roboto; 
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
}
.formInput::-webkit-input-placeholder {
  color: #A5A5A5;
}
.formInput:last-child {
  margin-left: 15px;
}
.formNav {
  width: 100%;
  margin-left: 30px;
  position: relative;
}
.formNav button {
  position: absolute;
  bottom: 0;
  width: 135px;
  height: 35px;
  border-radius: 50px;
  font-family: Roboto;
  font-style:normal;
  font-weight:700;
  font-size: 15px;
  text-align: center;
  transition: all 0.2s ease;
  border: 1px solid #0F82EC;
}
.buttonBack {
  left: 30px;
  color: #0F82EC;
}
.buttonBack:hover, .buttonBack:active, buttonBack:focus {
  background-color: #0f81ec25;
}
.buttonPost{
  right: 30px;
  color: white;
  background-color: #0F82EC;
}
.buttonPost:hover, .buttonPost:active, buttonPost:focus{
  background-color: #1671c7;
  border: 1px solid #1671c7;
}