.menuList li {
  text-align: center;
}
.menuItem {
  margin-bottom: 20px;
  text-align: left;
}
.menuItem:last-child {
  margin-bottom: 0px;
}
.menuItem button{
  border: 0px;
  padding: 0px;
  background-color: initial;
}
.menuLink {
  position: relative;
  display: inline-block;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  color: #0f82ec;
  padding: 0 0 5px;
}
.menuLink::after {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 3px;
  background: #0077e75e;
  content: "";
  opacity: 0;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: opacity 0.3s, -moz-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  -webkit-transform: translateY(3px);
  -moz-transform: translateY(3px);
  transform: translateY(6px);
}
.menuLink:active::after,
.menuLink:hover::after,
.menuLink:focus::after {
  opacity: 1;
  -webkit-transform: translateY(3px);
  -moz-transform: translateY(3px);
  transform: translateY(3px);
}
.menuLinkActive {
  color: black;
  pointer-events: none;
}
